# default ESP target
CONFIG_IDF_TARGET="esp32h2"

# ESP32-H2 has no WiFi hardware (Thread/BLE only)
CONFIG_ENABLE_WIFI_STATION=n
CONFIG_ENABLE_WIFI_AP=n
CONFIG_ENABLE_WIFI_TELEMETRY=n

# ESP System Settings
CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ_48=y
