# Core dump
CONFIG_ESP_COREDUMP_ENABLE_TO_FLASH=y
CONFIG_ESP_COREDUMP_CAPTURE_DRAM=y

# Build type
CONFIG_APP_REPRODUCIBLE_BUILD=y

# LOG
CONFIG_BOOTLOADER_LOG_LEVEL_NONE=y

# Log Level
CONFIG_LOG_DEFAULT_LEVEL_NONE=Y
